body {
  width: 100%;
  height: 100%;
  margin: 0;
}
it("correctly links to the style.css file with a relative path", () => {
  const link = document.querySelector("link");
  const hint1 = "Make sure you provide a rel attribute to identify the link as a stylesheet";
  expect(link, hint1).to.have.attribute("rel", "stylesheet");
  const hint2 = "Make sure you provide a relative path to style.css from index.html";
  expect(link, hint2).to.have.attribute("href", "./style.css");
});
